registry=https://pkgs.dev.azure.com/2020Development/2b2e91f5-6f86-4cbb-b1ff-bbcf4e29e2fe/_packaging/content-platform-npm/npm/registry/ 
                        
always-auth=true
//pkgs.dev.azure.com/2020Development/2b2e91f5-6f86-4cbb-blff-bbcf4e29e2fe/_packaging/content-platform-npm/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/2020Development/2b2e91f5-6f86-4cbb-blff-bbcf4e29e2fe/_packaging/content-platform-npm/npm/registry/:_password=cmlpYnk3b3hvazJhYXl4c3M2c3B4Z25nemR6Zm5wZW56bGNhdnp6eTNpemZpd213ZWR0YQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/2020Development/2b2e91f5-6f86-4cbb-blff-bbcf4e29e2fe/_packaging/content-platform-npm/npm/registry/:email=not-used@example.com


